{% extends "base/base.html" %}

{% load i18n %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-md-6">

                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {% translate "Your username and password do not match. Please try again." %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}

                {% if next %}
                    {% if user.is_authenticated %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {% translate "Your account does not have access to this page. To continue, please log in with an account that has access." %}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% else %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {% translate "Please log in to view this page." %}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                {% endif %}

                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="id_username" class="form-label">{% translate "Username" %}:</label>
                        <input type="text" class="form-control" name="username" autofocus="" autocapitalize="none"
                               autocomplete="username" maxlength="150" required="" id="id_username">
                    </div>
                    <div class="mb-3">
                        <label for="id_password" class="form-label">{% translate "Password" %}:</label>
                        <input type="password" class="form-control" name="password" autocomplete="current-password"
                               required="" id="id_password">
                    </div>
                    <button type="submit" class="btn btn-primary">{% translate "Login" %}</button>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </form>
                <div class="mt-2"><a href="{% url 'password_reset' %}">{% translate "Reset password" %}</a></div>

            </div>
        </div>
    </div>
{% endblock %}