{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{% static 'favicon-48x48.png' %}" sizes="48x48"/>

    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

    {% bootstrap_javascript %}
    <script src="{% static 'scripts/search.js' %}"></script>

    <title>{% block title %}Baumanagement{% endblock %}</title>

</head>

<body>

{% include "Baumanagement/navbar.html" %}

<div class="container-fluid">
    {% block content %}{% endblock %}
</div>

{% include "Baumanagement/footer.html" %}

</body>
</html>