{% load static %}
{% load auth_extras %}
{% load i18n %}

<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img class="me-2" src="{% static 'favicon-48x48.png' %}" alt="Baumanagement" width="48" height="48"/>
            Baumanagement
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'companies' %}">{% translate "Companies" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'projects' %}">{% translate "Projects" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'contracts' %}">{% translate "Contracts" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'bills' %}">{% translate "Bills" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'payments' %}">{% translate "Payments" %}</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.get_username }}
                        </a>
                        <ul class="dropdown-menu me-10" aria-labelledby="navbarDropdown">
                            {% if request.user|has_group:"admins" %}
                                <li><a class="dropdown-item" href="/admin" target="_blank">Admin</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{% url 'logout' %}?next=/">Logout</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if not user.is_authenticated %}
                    <li><a class="nav-link active" href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>