{% extends "Baumanagement/base.html" %}

{% load render_table from django_tables2 %}

{% block title %}{{ titel1 }}{% endblock %}

{% block content %}

    {% if table1 %}
        <div class="row">
            <div class="col-6">
                <span class="h1">{{ titel1 }}</span>
            </div>
            <div class="col-6 d-flex align-items-center justify-content-end">
                {% if search_field %}
                    <input placeholder="Suche" oninput="mainTableReload(this.value)" type="text" name="search">
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ tags1 }}
            </div>
        </div>
        <div class="row" id="main-table">
            {% include "Baumanagement/maintable.html" %}
        </div>
    {% endif %}

    <div class="row">
        <div class="col">
            {{ form }}
        </div>
    </div>

    {% for next_table in tables %}
        <div class="row">
            <div class="col">
                <span class="h2">{{ next_table.titel }}</span><span> ({{ next_table.table.rows|length }})</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% render_table next_table.table %}
            </div>
        </div>
    {% endfor %}

{% endblock %}
