{% extends "Baumanagement/base.html" %}

{% load render_table from django_tables2 %}
{% load bootstrap5 %}

{% block title %}{{ titel1 }}{% endblock %}

{% block content %}
    {% if table1 %}
        <h1>{{ titel1 }}</h1>
        {{ tags1 }}
        {% if filter %}
            <form method="get" class="form form-inline">
                {{ filter_form }}
            </form>
        {% endif %}
        {% render_table table1 %}
    {% endif %}

    {{ form }}

    {% if table2 %}
        <h2>{{ titel2 }}</h2>
        {{ tags2 }}
        {% render_table table2 %}
    {% endif %}

    {% if table3 %}
        <h2>{{ titel3 }}</h2>
        {{ tags3 }}
        {% render_table table3 %}
    {% endif %}

    {% if table4 %}
        <h2>{{ titel4 }}</h2>
        {{ tags4 }}
        {% render_table table4 %}
    {% endif %}

    {% if table5 %}
        <h2>{{ titel5 }}</h2>
        {{ tags5 }}
        {% render_table table5 %}
    {% endif %}

{% endblock %}