<div class="col-md-auto d-flex align-items-center">
    <h2>{{ breadcrumbs_titel }}:</h2>&nbsp;&nbsp;
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 h5">
            {% for each in breadcrumbs %}
                <li class="breadcrumb-item">
                    {% if each.link %}<a class="" href="{{ each.link }}">{% endif %}
                    {{ each.text }}
                    {% if each.link %}</a>{% endif %}
                </li>
            {% endfor %}
        </ol>
    </nav>
</div>