table.table a, ol.breadcrumb a {
    text-decoration: none;
    color: #212529;
}

table.table tr.text-muted a, table.table tr.text-muted td {
    color: gray;
    text-decoration: line-through;
}

table.table thead th.asc.orderable:after {
    content: '▲'
}

table.table thead th.desc.orderable:after {
    content: '▼'
}

table.table td, table.table th {
    vertical-align: middle;
    text-align: center;
}

table.table thead {
    background-color: #EEEEEE;
    border-top-width: 3px;
    border-top-color: #212529;
    border-bottom-width: 3px;
    border-bottom-color: #212529;
}

table.table tfoot {
    border-bottom-color: white;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: none;
}

input#dateFrom, input#dateTo, input#search {
    max-width: 150px;
    display:block;
}

.form-label {
    margin-bottom: 0;
}
.requiredField {
    font-weight: 600;
}
.modal-body div.mb-3 {
    margin-bottom: 0.5rem!important;
}

div.center h1 {
  text-align: center;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 100px;
  position: absolute;
  margin-top: -50px;
  margin-left: -225px;
}