body {
    padding-top: 74px;
    padding-bottom: 56px;
}

table.table a, ol.breadcrumb a, ul.treeCSS a {
    text-decoration: none;
    color: #212529;
}

table.table tr.text-muted a, table.table tr.text-muted td {
    color: gray;
    text-decoration: line-through;
}

table.table thead th.asc.orderable:after {
    content: '▲'
}

table.table thead th.desc.orderable:after {
    content: '▼'
}

table.table td, table.table th {
    vertical-align: middle;
    text-align: center;
}

table.table thead {
    border-top-width: 3px;
    border-top-color: #212529;
    border-bottom-width: 3px;
    border-bottom-color: #212529;
}

table.table tfoot {
    border-bottom-color: white;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}
/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: none;
}

/* Filter and search fields */
input#dateFrom, input#dateTo, input#search {
    max-width: 150px;
    display:block;
}

/* Form */
.form-label {
    margin-bottom: 0;
}
.requiredField {
    font-weight: 600;
}
.modal-body div.mb-3 {
    margin-bottom: 0.5rem!important;
}

/* 404 page */
div.center h1 {
    text-align: center;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 100px;
    position: absolute;
    margin-top: -50px;
    margin-left: -225px;
}

/* Navbar */
.dropdown-menu-right[data-bs-popper] {
    left: -80px;
}

/* tree */
.treeCSS,
.treeCSS ul,
.treeCSS li {
  margin: 0;
  padding: 0;
  line-height: 1;
  list-style: none;
}
.treeCSS ul {
  margin: 0 0 0 .5em;
}
.treeCSS > li:not(:only-child),
.treeCSS li li {
  position: relative;
  padding: .2em 0 0 1.2em;
}
.treeCSS li:not(:last-child) {
  border-left: 1px solid #ccc;
}
.treeCSS li li:before,
.treeCSS > li:not(:only-child):before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1.1em;
  height: .7em;
  border-bottom: 1px solid #ccc;
}
.treeCSS li:last-child:before {
  width: calc(1.1em - 1px);
  border-left: 1px solid #ccc;
}

/* error messages in table */
ul.errorlist {
  text-align: start;
}

/* mytooltip container */
.mytooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; If you want dots under the hoverable text */
}
/* mytooltip text */
.mytooltip .mytooltiptext {
  visibility: hidden;
  background-color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  border: 1px solid gray;

  top: 100%;
  left: 50%;

  width: 200px;
  margin-left: -100px; /* Use half of the width (120/2 = 60), to center the mytooltip */

  /* Position the mytooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
/* Show the mytooltip text when you mouse over the mytooltip container */
.mytooltip:hover .mytooltiptext {
  visibility: visible;
}
.mytooltip .mytooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the mytooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent gray transparent;
}

/* products_form */
#products_form input {
    text-align: center;
}
