{% load i18n %}
{% load crispy_forms_tags %}
{% get_current_language as lang %}

<button type="button" class="btn btn-secondary m-2" data-bs-toggle="modal" data-bs-target="#ModalForm">
    {% if "New" in buttons %}{% translate "New" %}{% endif %}{% if "Edit" in buttons %}{% translate "Edit" %}{% endif %}
</button>

{% with 'csv json latex ods tsv xls xlsx yaml' as list %}
    <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle m-2" type="button" id="exportButton"
                data-bs-toggle="dropdown" aria-expanded="false">
            {% translate "Export" %}
        </button>
        <ul class="dropdown-menu" aria-labelledby="exportButton">
            {% for file_format in list.split %}
                <li>
                    <a class="dropdown-item" href="{{ request.path }}?_export={{ file_format }}">{{ file_format }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endwith %}

<div class="modal fade" id="ModalForm" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalFormLabel">
                    {% if "Edit" in buttons %}
                        {% with breadcrumbs|last as last %}{{ last.text }}{% endwith %}
                    {% else %}
                        {{ breadcrumbs_titel }}
                    {% endif %}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        onClick="location.href=location.href"></button>
            </div>
            <form method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {% if files_form is not None %}
                        <div class="mb-3">
                            <label for="id_file">{% translate "Files" %}</label>
                            <input name="file" class="form-control" type="file" id="id_file" multiple>
                        </div>
                        {% for file in files_form %}
                            <div class="alert alert-light alert-dismissible fade show mb-0" role="alert">
                                <a href="{{ file.file.url }}" target="_blank">{{ file.name }}</a>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                                        onclick="deleteFile(&quot;{{ csrf_token }}&quot;, &quot;{{ lang }}&quot;,
                                                {{ file.id }})"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"
                            onClick="location.href=location.href">{% translate "Close" %}</button>
                    {% if "Edit" in buttons %}
                        <button name="createCopy" type="submit" value="createCopy" class="btn btn-outline-success">
                            {% translate "Create copy" %}</button>
                    {% endif %}
                    <button type="submit" class="btn btn-success">{% translate "Save" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>