{% load crispy_forms_tags %}
{% load i18n %}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="ModalFormLabel">{{ titel1 }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    onClick="location.href=location.href"></button>
        </div>
        <form method="POST" enctype="multipart/form-data">
            <div class="modal-body">
                {% csrf_token %}
                {{ form|crispy }}
                {% if files_form is not None %}
                    <div class="mb-3">
                        <label for="id_file">{% translate "Files" %}</label>
                        <input name="file" class="form-control" type="file" id="id_file" multiple>
                    </div>
                    {% for file in files_form %}
                        <div class="alert alert-light alert-dismissible fade show mb-0" role="alert">
                            <a href="{{ file.file.url }}" target="_blank">{{ file.name }}</a>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                                    onclick="deleteFile(&quot;{{ csrf_token }}&quot;, &quot;{{ file.class_name }}&quot;, {{ file.id }})"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"
                        onClick="location.href=location.href">{% translate "Close" %}
                </button>
                <button type="submit" class="btn btn-success">{% translate "Save" %}</button>
            </div>
        </form>
    </div>
</div>