{% extends "base.html" %}

{% load render_table from django_tables2 %}
{% load i18n %}

{% block title %}{{ titel1 }}{% endblock %}

{% block content %}

    {% if table1 %}
        <div class="row">
            <div class="col-7">
                <span class="h1">{{ titel1 }}</span>
            </div>
            <div class="col-2 d-flex align-items-center">
                {% if form %}{% include "form.html" %}{% endif %}
            </div>
            <div class="col-3 d-flex align-items-center justify-content-end">
                {% if search_field %}
                    <input placeholder="Suche" oninput="mainTableReload(&quot;{{ request.path }}&quot;, this.value)"
                           type="text" name="search" style="width: 100%; max-width: 200px;">
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col">
                {{ tags1 }}
            </div>
        </div>

        <div class="row" id="main-table">
            {% include "maintable.html" %}
        </div>
    {% endif %}

    {% include 'messages.html' %}

    {% if tables %}
        <div class="tab">
            {% for next_table in tables %}
                <button class="tablinks" onclick="openTab(event, '{{ next_table.titel }}')">{{ next_table.titel }} ({{ next_table.table.rows|length }})</button>
            {% endfor %}
        </div>
        {% for next_table in tables %}
            <div id="{{ next_table.titel }}" class="tabcontent">
                <div class="row">
                    <div class="col">
                        <h2>{{ next_table.titel }}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% render_table next_table.table %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}
