{% load i18n %}

<div class="row">
    <div class="col-md-auto d-flex align-items-center">
        <h2>{{ breadcrumbs_titel }}:</h2>&nbsp;&nbsp;
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 h5">
                {% for each in breadcrumbs %}
                    <li class="breadcrumb-item">
                        {% if each.link %}<a class="" href="{{ each.link }}">{% endif %}
                        {{ each.text }}
                        {% if each.link %}</a>{% endif %}
                    </li>
                {% endfor %}
            </ol>
        </nav>
    </div>
    <div class="col d-flex align-items-center justify-content-end">
        {% if form %}{% include "form.html" %}{% endif %}
    </div>
    <div class="col d-flex align-items-center justify-content-end">

        {% if 'contracts' in request.path or 'bills' in request.path or 'payments' in request.path %}
            <select name="project" id="project" class="select form-select" oninput="mainTableReload()"
                    {% if settings.active_project %} style="background-color: #FFFCC8;"{% endif %}>
                <option value="">{% translate "All" %} {% translate "Projects" %}</option>
                {% for project in projects %}
                    <option value="{{ project.id }}"{% if project == settings.active_project %}
                            selected="selected"{% endif %}>
                        {{ project.name }}
                    </option>
                {% endfor %}
            </select>
            <script>
                document.getElementById("project").addEventListener('focusout', setInputBackground);
            </script>
        {% endif %}

        {% if date_fields %}
            <input class="form-control m-2" type="date" id="dateFrom" name="dateFrom" onchange="mainTableReload()"
                    {% if settings.date_from %} value="{{ settings.date_from|date:"Y-m-d" }}"
                   style="background-color: #FFFCC8;"{% endif %}>—
            <input class="form-control m-2" type="date" id="dateTo" name="dateTo" onchange="mainTableReload()"
                    {% if settings.date_to %} value="{{ settings.date_to|date:"Y-m-d" }}"
                   style="background-color: #FFFCC8;"{% endif %}>
            <script>
                document.getElementById("dateFrom").addEventListener('focusin', setInputBackground);
                document.getElementById("dateTo").addEventListener('focusin', setInputBackground);
            </script>
        {% endif %}

        {% if search_field %}
            <input class="form-control m-2" type="text" id="search" name="search" oninput="mainTableReload()"
                   placeholder="{% blocktrans %}Search{% endblocktrans %}">
            <script>
                document.getElementById("search").addEventListener('focusout', setInputBackground);
            </script>
        {% endif %}
        <input type="hidden" id="sort" name="sort"><input type="hidden" id="tag" name="tag">
    </div>
</div>

{% if tags1 %}
    <div class="row tags">
        <div class="col">
            {{ tags1 }}
        </div>
    </div>
{% endif %}

<div class="row" id="main-table">
    {% include 'maintable.html' %}
</div>
