{% load i18n %}
{% load static %}

{% if messages %}
<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 1031">
    {% for message in messages %}
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img class="rounded me-2" src="{% static 'favicon-48x48.png' %}" alt="Baumanagement" width="24"
                 height="24"/>
            <strong class="me-auto">{% translate 'Notification' %}</strong>
            <small class="text-muted">{% translate 'just now' %}</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{ message }}
        </div>
    </div>
    {% endfor %}
</div>

<script>
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function (toastEl) {
            var toast = new bootstrap.Toast(toastEl)
            toast.show()
        })
</script>
{% endif %}