{% load i18n %}

{% if productsform %}
<div class="row">
    <form method="post" id="products_form">
        {% csrf_token %}
        {{ productsform.management_form }}
        {{ productsform.non_form_errors }}
        <table class="table table-hover">
            <thead class="table-secondary">
            <tr>
                <th scope="col">{% trans 'Product' %}</th>
                <th scope="col">{% trans 'Count' %}</th>
                <th scope="col">{% trans 'Use price' %}</th>
                <th scope="col">{% trans 'Netto price' %}</th>
                <th scope="col">{% trans 'VAT' %}</th>
                <th scope="col">{% trans 'Brutto price' %}</th>
                <th scope="col">{% trans 'Delete' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for line in productsform %}
            {{ line.id }}
            <tr id="row-{{ forloop.counter0 }}">
                <th>{{ line.product }}</th>
                <th>{{ line.count }}</th>
                <th>{{ line.use_product_price }}</th>
                <th>{{ line.amount_netto_positiv }}</th>
                <th>{{ line.vat }}</th>
                <th>{{ line.amount_brutto_positiv }}</th>
                <th>
                    {% if forloop.counter < productsform|length %}
                    <input type="hidden" name="products-{{ forloop.counter0 }}-DELETE"
                           id="id_products-{{ forloop.counter0 }}-DELETE">
                    <button type="button" class="btn-close" onclick="deleteProduct({{ forloop.counter0 }});"
                            id="id_products-{{ forloop.counter0 }}-delete-button" aria-label="{% trans 'close' %}">
                    </button>
                    {% endif %}
                </th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-success mt-2 mb-3" name="editProducts" value="editProducts"
                id="products_form_button">
            {% translate "Save" %}
        </button>
    </form>
</div>
{% endif %}