{% load i18n %}
{% load static %}

{% if productsform %}
<div class="row">
    <form method="post" id="products_form">
        {% csrf_token %}
        {{ productsform.management_form }}
        <table class="table table-hover">
            <thead class="table-secondary">
                <tr>
                    <th scope="col">{% trans 'Product' %}</th>
                    <th scope="col">{% trans 'Count' %}</th>
                    <th scope="col">{% trans 'Use pricelist' %}</th>
                    <th scope="col">{% trans 'Netto price' %}</th>
                    <th scope="col">{% trans 'VAT' %}</th>
                    <th scope="col">{% trans 'Brutto price' %}</th>
                    <th scope="col">{% trans 'Delete' %}</th>
                </tr>
            </thead>
            <tbody id="products_form-tbody">
                {% for form in productsform %}
                    {{ form.id }}
                    <tr id="row-{{ forloop.counter0 }}">
                        <td{% if form.errors.product %} class="table-danger"{% endif %}>{{ form.product }}</td>
                        <td{% if form.errors.count %} class="table-danger"{% endif %}>{{ form.count }}</td>
                        <td{% if form.errors.use_product_price %} class="table-danger"{% endif %}>
                            {{ form.use_product_price }}</td>
                        <td{% if form.errors.amount_netto_positiv %} class="table-danger"{% endif %}>
                            {{ form.amount_netto_positiv }}</td>
                        <td{% if form.errors.vat %} class="table-danger"{% endif %}>{{ form.vat }}</td>
                        <td{% if form.errors.amount_brutto_positiv %} class="table-danger"{% endif %}>
                            {{ form.amount_brutto_positiv }}</td>
                        <td>
                            {% if forloop.counter0 < productsform|length %}
                            <input type="hidden" name="products-{{ forloop.counter0 }}-DELETE"
                                   id="id_products-{{ forloop.counter0 }}-DELETE">
                            <button type="button" class="btn-close" onclick="deleteProduct({{ forloop.counter0 }});"
                                    id="id_products-{{ forloop.counter0 }}-delete-button"
                                    aria-label="{% trans 'close' %}">
                            </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                <tr id="products_form-empty_row" class="collapse">
                    <td>{{ productsform.empty_form.product }}</td>
                    <td>{{ productsform.empty_form.count }}</td>
                    <td>{{ productsform.empty_form.use_product_price }}</td>
                    <td>{{ productsform.empty_form.amount_netto_positiv }}</td>
                    <td>{{ productsform.empty_form.vat }}</td>
                    <td>{{ productsform.empty_form.amount_brutto_positiv }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-outline-success mb-3" id="add_product_button"
                onclick="addProduct();">{% translate "Add product" %}
                </button>
            </div>
            <div class="col text-end">
                <button type="button" class="btn btn-outline-secondary mb-3 me-2" data-bs-dismiss="modal"
                        onClick="location.href=location.href">{% translate "Cancel" %}
                </button>
                <button type="submit" class="btn btn-success mb-3" name="editProducts" value="editProducts"
                        id="products_form_button" onclick="removeDisabled();">{% translate "Save" %}
                </button>
            </div>
        </div>

    </form>
</div>

<script src="{% static 'scripts/products_form.js' %}"></script>
{% endif %}