{% extends "base/base.html" %}
{% load i18n %}

{% block title %}
    {{ breadcrumbs_titel }} - {% with breadcrumbs|last as last %}{{ last.text }}{% endwith %}
{% endblock %}

{% block content %}

    {% include 'tree/tree.html' %}

    {% include 'tables/table_header.html' %}

    {% include 'tables/labels.html' %}

    <div class="row" id="main-table">
        {% include 'tables/maintable.html' %}
    </div>

    {% include 'tables/productsform.html' %}

    {% include 'tables/tabs.html' %}

    {% include 'tables/messages.html' %}

{% endblock %}
