{% extends "base/base.html" %}
{% load i18n %}

{% block title %}
    {{ breadcrumbs_titel }} - {% with breadcrumbs|last as last %}{{ last.text }}{% endwith %}
{% endblock %}

{% block content %}

    {% include 'tree/tree.html' %}

    {% include 'tables/table_header.html' %}

    {% include 'tables/labels.html' %}

    <div class="row" id="main-table">
        {% include 'tables/maintable.html' %}
    </div>

    {% if productsform %}
        <div class="row">
            <form method="post">
                {% csrf_token %}
                {{ productsform.management_form }}
                {% for form in productsform %}
                    <div class="mb-1">
                        {{ form }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-success mt-2 mb-3" name="editProducts" value="editProducts">
                    {% translate "Save" %}
                </button>
            </form>
        </div>
    {% endif %}

    {% include 'tables/tabs.html' %}

    {% include 'tables/messages.html' %}

{% endblock %}
