{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% if tables %}
    <div class="tab">
        {% for tab in tables %}
            <button class="tablinks" onclick="openTab(event, '{{ tab.titel }}')"
                    {% if forloop.first %} id="defaultOpen"{% endif %}>
                {{ tab.titel }} ({{ tab.count }})
            </button>
        {% endfor %}
    </div>
    <div class="row">
        {% for tab in tables %}
            <div id="{{ tab.titel }}" class="tabcontent">
                <div class="row">
                    <div class="col">
                        {% if tab.table %}
                            <div class="row float-end">
                                <a href="{{ tab.link }}">
                                    <img class="m-1" src="{% static 'img/newtab.svg' %}"
                                         alt="{% translate 'In a new tab open...' %}" width="24" height="24"/>
                                </a>
                            </div>
                            {% render_table tab.table %}
                        {% endif %}

                        {% if tab.comments is not None %}
                            {% for comment in tab.comments %}
                                <div class="row mb-2">
                                    <div class="col">
                                        <span class="h6">{{ comment.object.author }}</span>&nbsp;
                                        <span class="text-muted">{{ comment.object.created }}</span><br>
                                        {{ comment.object.name }}<br>
                                        {% for file in comment.files %}
                                            <a href="{{ file.file.url }}" target="_blank">{{ file.name }}</a>&nbsp;
                                            &nbsp;
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}

                            <button type="button" class="btn btn-outline-secondary mt-2" data-bs-toggle="modal"
                                    data-bs-target="#CommentForm">
                                {% translate "New comment" %}
                            </button>
                            <div class="modal fade" id="CommentForm" data-bs-backdrop="static" data-bs-keyboard="false"
                                 tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"
                                                id="CommentFormLabel">{% translate "New comment" %}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="{% trans 'Close' %}"
                                                    onClick="location.href=location.href"></button>
                                        </div>
                                        <form method="POST" enctype="multipart/form-data" action="/comments">
                                            <div class="modal-body">
                                                {% csrf_token %}
                                                <input type="hidden" name="newCommentNextURL" id="newCommentNextURL"
                                                       value="{{ request.path }}">
                                                {{ tab.form|crispy }}
                                                <div class="mb-3">
                                                    <label for="id_file">{% translate "Files" %}</label>
                                                    <input name="file" class="form-control" type="file" id="id_file"
                                                           multiple>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-secondary"
                                                        data-bs-dismiss="modal"
                                                        onClick="location.href=location.href">{% translate "Close" %}
                                                </button>
                                                <button type="submit"
                                                        class="btn btn-success">{% translate "Send" %}</button>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>

                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <script>document.getElementById("defaultOpen").click();</script>
{% endif %}