{% load bootstrap5 %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <link rel="icon" type="image/png" href="{% static 'favicon-48x48.png' %}" sizes="48x48"/>

    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

    {% bootstrap_javascript %}
    <script src="{% static 'scripts/scripts.js' %}"></script>

    <title>{% block title %}Baumanagement{% endblock %}</title>

</head>

<body>

{% include "navbar.html" %}

<div class="container-fluid">
    {% block content %}{% endblock %}
</div>

{% include "footer.html" %}

</body>
</html>